.header {
  width: 100%;
  padding: 20px;
  background-color: #4087f1;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
